.topbar {

    padding: 12px;
    width: 100%;
    background-color: var(--clr-accent);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.topbar-button {
    border: 2px solid white;
    padding: 12px;
    color: #fff;
}