<div class="tech">
    <h2 class="tech-title">Technologies & Outils</h2>
    <div class="tech-container">
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-html.svg" alt="html logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-css.svg" alt="css logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-javascript.svg" alt="javascript logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-angular.svg" alt="angular logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-firebase.svg" alt="firebase logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-react.svg" alt="react logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-mysql.svg" alt="mysql logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-wordpress.svg" alt="wordpress logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-shopify.svg" alt="shopify logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-figma.svg" alt="figma logo">
        </div>
        <div class="tech-card">
            <img width="48px" height="48px" src="./assets/frontend/logo-postman.svg" alt="postman logo">
        </div>
    </div>
</div>