.tech {
    width: 100%;
    padding: 0 15%;
    margin-bottom: 48px;
}

.tech-title {
    font-size: 26px;
    font-weight: 600;
    color: var(--clr-white);
    margin-bottom: 32px;
    letter-spacing: 0.05em;
}

.tech-container {
    width: 100%;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
}

.tech-card {
    width: 128px;
    height: 128px;
    background-color: var(--clr-main);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border-bottom: 2px solid var(--clr-accent);
}


@media screen and (max-width:1440px) {

    .tech {
        padding: 0 7%;
    }
}

@media screen and (max-width:768px) {


    .tech-card {
        width: 30%;

    }
}
@media screen and (max-width:425px) {


    .tech-card {
        width: 45%;

    }
}