<div class="skill">
    <h2 class="skill-title">Hard Skills</h2>
    <div class="skill-container">
    <div class="skill-card">
        <img width="32px" height="32px" class="skill-card-icon" src="./assets/frontend/icon-frontend.svg" alt="frontend">
        <h3 class="skill-card-name">Front-End</h3>
        <p class="skill-card-description">Intégrer un interface web dynamique et responsive.</p>
    </div>

    <div class="skill-card">
        <img width="32px" height="32px" class="skill-card-icon" src="./assets/frontend/icon-backend.svg" alt="backend">
        <h3 class="skill-card-name">Back-End</h3>
        <p class="skill-card-description">Créer une base de données et sécuriser une application.</p>
    </div>

    <div class="skill-card">
        <img width="32px" height="32px" class="skill-card-icon" src="./assets/frontend/icon-design.svg" alt="design">
        <h3 class="skill-card-name">Design UI/UX</h3>
        <p class="skill-card-description">Concevoir et maquetter une application web ou mobile.</p>
    </div>
</div>
</div>