<div class="contact">
    <div class="contact-form">
        <h2 class="contact-title">Formulaire de contact</h2>
        <form class="form">
            <div class="form-group">
                <label class="form-label">Nom et Prénom</label>
                <input type="text" class="form-input">
            </div>
            <div class="form-group">
                <label class="form-label">Votre email</label>
                <input type="text" class="form-input">
            </div>
            <div class="form-group">
                <label class="form-label">Objet</label>
                <input type="text" class="form-input">
            </div>
            <div class="form-group">
                <label class="form-label">Votre message</label>
                <textarea class="form-area"></textarea>
            </div>

            <div class="form-group">
                <button class="form-action">Envoyer</button>
            </div>
        </form>
    </div>
    <div class="contact-about">
        <div class="about-row"><img width="24px" height="24px" src="./assets/frontend/icon-location.svg" alt="adresse" class="about-icon">Saint-Pierre, Ligne-Paradis 97410</div>
        <div class="about-row"><img width="24px" height="24px" src="./assets/frontend/icon-email.svg" alt="email" class="about-icon">g.lavit@gmail.com</div>
        <div class="about-row"><img width="24px" height="24px" src="./assets/frontend/icon-phone.svg" alt="phone" class="about-icon">06 93 83 28 21</div>
        <div class="about-row"><img width="24px" height="24px" src="./assets/frontend/icon-linkedin.svg" alt="linkedin" class="about-icon">LinkedIn</div>
    </div>
</div>