* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-main: #12181B;
    --clr-secondary: #1D2432;
    --clr-accent: #7F51F0;
    --clr-grey: #B2BECD;
    --clr-white: #FFFFFF;
    --clr-error: #f75555;
}

@font-face {
    font-family: Kanit;
    src: url(./assets//Kanit/Kanit-Regular.ttf);
}

body.light {
    --clr-main: #fff;
    --clr-secondary: #F6F6F9;
    --clr-accent: #7F51F0;
    --clr-grey: #637285;
    --clr-white: #12181B;
    --clr-error: #f75555;
}

body {
    font-family: Kanit;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--clr-main), var(--clr-secondary));
}
