<div class="project">
    <h2 class="project-title">Projets & Réalisations</h2>
    <div class="project-container">
        <div class="project-card">
            <div class="project-card-header">
                <img width="32px" height="32px" src="./assets/frontend/icon-website.svg" alt="lien" class="project-card-link">
            </div>
            <h3 class="project-card-name">Dashboard - Syndicat</h3>
            <p class="project-card-description">Tableau de bord pour gérer et administrer un syndicat et l'ensemble de ses adhérents et mandataires.</p>
            <div class="project-card-tags">
                <div class="project-card-tag">Angular</div>
                <div class="project-card-tag">Firebase</div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-card-header">
                <img width="32px" height="32px" src="./assets/frontend/icon-website.svg" alt="lien" class="project-card-link">
            </div>
            <h3 class="project-card-name">Dashboard - Syndicat</h3>
            <p class="project-card-description">Tableau de bord pour gérer et administrer un syndicat et l'ensemble de ses adhérents et mandataires.</p>
            <div class="project-card-tags">
                <div class="project-card-tag">Angular</div>
                <div class="project-card-tag">Firebase</div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-card-header">
                <img width="32px" height="32px" src="./assets/frontend/icon-website.svg" alt="lien" class="project-card-link">
            </div>
            <h3 class="project-card-name">Dashboard - Syndicat</h3>
            <p class="project-card-description">Tableau de bord pour gérer et administrer un syndicat et l'ensemble de ses adhérents et mandataires.</p>
            <div class="project-card-tags">
                <div class="project-card-tag">Angular</div>
                <div class="project-card-tag">Firebase</div>
            </div>
        </div>
    </div>
</div>