<div class="project" id="projects">
    <h2 class="project-title">Projets & Réalisations</h2>
    <div class="project-container" id="project-container">

        <div class="project-card">
            <div class="project-card-header" id="header-syndicat">
                
            </div>
            <h3 class="project-card-name">Dashboard - Syndicat</h3>
            <p class="project-card-description">Tableau de bord pour gérer et administrer un syndicat et l'ensemble de ses adhérents et mandataires.</p>
            <div class="project-card-tags">
                <div class="project-card-tag">Angular</div>
                <div class="project-card-tag">Firebase</div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-card-header" id="header-sushi">
                
            </div>
            <h3 class="project-card-name">Réservation de sushis</h3>
            <p class="project-card-description">Site de commande réalisé pour le Quai des Mers. Mise en avant des produits.</p>
            <div class="project-card-tags">
                <div class="project-card-tag">Angular</div>
                <div class="project-card-tag">Firebase</div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-card-header" id="header-location">
                
            </div>
            <h3 class="project-card-name">Location pour bivouac</h3>
            <p class="project-card-description">Application réalisée pour découvrir les bases d'angular et de firebase.</p>
            <div class="project-card-tags">
                <div class="project-card-tag">Angular</div>
                <div class="project-card-tag">Firebase</div>
            </div>
        </div>
    </div>
</div>